# Arquivos de Bytecode Python
_pycache_/
.py[cod]

# Arquivos de ambiente virtual
nome_do_ambiente_virtual/

# Arquivos de banco de dados SQLite (caso você esteja usando)
.sqlite3

# Arquivos de mídia (Você pode querer ajustar isso dependendo da sua configuração)
media/

# Arquivos de configuração sensíveis
settings.py
node_modules