<div class="alert-container1" >
    <div class="alert1">
       <button class="fechar_alert1">x</button>
      <h1 class="alert-text"  style="text-align:center; margin:auto; font-size:1.3rem; ">
      
        
       Você precisa estar logado para comentar!
      
    
    </h1>
    </div>
 </div>


 <div class="alert-container2" >
   <div class="alert2">
      <button class="fechar_alert2">x</button>
     <h1 class="alert-text"  style="text-align:center; margin:auto; font-size:1.3rem; ">
     
       
      Comentário postado com sucesso!
     
   
   </h1>
   </div>
</div>