<ul style="height:100%; overflow-y:scroll; display:none;" class="comments-list" data-post-id="{{ post.id }}">
    
    {% for comment in post.get_ordered_comments %}

   
<li class="comment comentario-line" >
    <div class="comentario-parte1"> <span class="comentario-img">

        <img src= {% if comment.author.image %} "{{comment.author.image.url}}">
        {%endif%}
        </span>
        <span class="comentario-nome"> 
        {{ comment.author }}
        </span>
        <span class="comentario-data">{{ comment.data|date:"d/m/Y" }}
        </span> 
    </div>
   
    <span class="comentario-texto">
        {{ comment.content }}
    </span>

    <div class="comentario-parte2" data-comment-id="{{ comment.id }}">
        <span class="like" data-commentid="{{ comment.id }}"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span>
        <spam  class="comentario-responder" data-comment-id="{{ comment.id }}">
            Responder   
        </span>
        
    </div>
   
    <span  class="comentarios-repostas" data-comment-id="{{ comment.id }}">Ver comentários</span>
    


    <ul style="margin-left:1.4rem;" class="respostas-lista-{{ comment.id }} oculto" id="respostas-lista" data-comment-id="{{ comment.id }}">
        {% for resposta in comment.get_ordered_aswner %}
            <li class="comentario-line">
                <div class="comentario-parte1">
                    <span class="comentario-img">
                        <img src="{% if resposta.author.image %}{{resposta.author.image.url}}{% endif %}">
                    </span>
                    <span class="comentario-nome"> 
                        {{ resposta.author.userName }}
                    </span>
                    <span class="comentario-data">{{ resposta.data|date:"d/m/Y" }}</span>
                </div>
                <span class="comentario-texto">
                    {{ resposta.content }}
                </span>
            </li>
        {% endfor %}
    </ul> 
    

               
            {% endfor %}
    </ul>
    
    
</li>   

<style>
.respostas-list 
{
    display:none;
}


</style>
