<div class="termos-container" >
    <div class="termos-modal">
       <button class="fechar_termos">x</button>
       <p style="text-align:justify; height:10rem; overflow-y:scroll; word-break:break-word;">
      
        
        Os termos e condições são um contrato entre a empresa e seus usuários ou clientes, definindo as regras para usar o site ou o serviço.

        Ao acessar e usar este site, você aceita e concorda em cumprir os seguintes termos e condições. Se você não concorda com estes termos, você deve parar de usar este site imediatamente.
    
    <p>
    </div>
 </div>


 <div class="politica-container" >
    <div class="politica-modal">
       <button class="fechar_politica">x</button>
      <p style="text-align:justify; height:10rem; overflow-y:scroll;word-break:break-word;">
      
        
        Política de Privacidade

        A política de privacidade define como a empresa coleta, armazena, protege e utiliza as informações pessoais dos usuários.
        
        Este site é operado pela [Nome da Empresa]. Esta página informa sobre as políticas relativas à coleta, uso e divulgação de Informações Pessoais que recebemos dos usuários do site.
        
        Coletamos essas informações para fornecer e melhorar o site. Ao usar o site, você concorda com a coleta e uso dessas informações de acordo com esta política.
      
    
    <p>
    </div>
 </div>

 <div class="compliance-container" >
    <div class="compliance-modal">
       <button class="fechar_compliance">x</button>
       <p style="text-align:justify;height:10rem; overflow-y:scroll; word-break:break-word;">
      
      
Certamente, posso te ajudar a gerar um exemplo básico de cada um desses termos. No entanto, você precisa lembrar que esses são apenas exemplos genéricos. Cada um desses documentos é muito importante e deve ser personalizado para atender à sua empresa e ao seu setor. Idealmente, você deve buscar aconselhamento jurídico para garantir que esses documentos atendam a todas as leis e regulamentações relevantes.

Política de Privacidade

A política de privacidade define como a empresa coleta, armazena, protege e utiliza as informações pessoais dos usuários.

Este site é operado pela [Nome da Empresa]. Esta página informa sobre as políticas relativas à coleta, uso e divulgação de Informações Pessoais que recebemos dos usuários do site.

Coletamos essas informações para fornecer e melhorar o site. Ao usar o site, você concorda com a coleta e uso dessas informações de acordo com esta política.

Política de Compliance

A política de compliance é um guia interno que ajuda a empresa a garantir que ela está cumprindo todas as leis e regulamentos relevantes.

A [Nome da Empresa] está comprometida em conduzir seus negócios de maneira ética e legal. Esta Política de Compliance fornece um quadro para garantir que todos os funcionários, contratados e diretores da [Nome da Empresa] cumpram todas as leis, regulamentos e normas aplicáveis.
    
    <p>
    </div>
 </div>





